<h1> Available Flashcards</h1>
<%= link_to "Back to Flashcards", flashcards_path %><br>

<% @flashcards.each do |flashcard| %>
    <h5><%= flashcard.question %><br>
    <%= link_to "Answer/View Card", flashcard_path(flashcard) %></h2><br>
    </h5>
<% end %>
