<h1>Edit Account</h1>

<%= form_for @user do |f| %>
   <%= render "form" %>
    <%= link_to 'delete account', Current.user, method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
<% end %>
    